@model OrderPizza1.ViewModel.OrderDisplayViewModel
@{
    ViewBag.Title = "Order Status";
}

<h2>Order Status</h2>

<div class="col-lg-2"></div>
<div class="col-lg-8">
    Order Placed Successfully!

    @if (Model.PizzaTopping != null)
    {
        <table class="table table-bordered table-responsive table-striped table-condensed">
            <tr>
                <td>
                    $"{@Model.Order.Customer.Name}, you have ordered Pizza of size {@Model.PizzaSize} and crust {@Model.PizzaCrust} and with topping {@Model.PizzaTopping}"
                </td>
            </tr>
        </table>
    }
    else
    {
        <table class="table table-bordered table-responsive table-striped table-condensed">
            <tr>
                <td>
                    $"{@Model.Order.Customer.Name}, you have ordered Pizza of size {@Model.PizzaSize} and crust {@Model.PizzaCrust}"
                </td>
            </tr>
        </table>
    }
</div>
<div class="col-lg-4"></div>
